<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jim's Store Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/jims_store.css' %}">


    <script>
    
        $(document).ready(function(){

            
        });
    
    </script>

</head>

<body>
    <div class="jumbotron">
        <div class="container jumboStyle smallForPhones">
            <div>
                <h1 class="display-4">Welcome to Jim's Store!</h1>
                <p class="lead">Find yourself in the great outdoors. Find everything you need out there, In Here!</p>
            </div>
            <div class="notOnPhones">
                <img class="smallForTablets" src='../static/store/pics/tent.png' alt="Tent Pic">
            </div>
            <hr class="my-4">
            <p>Grab all the necessities for a succesful camping trip, from Sporks and Go-lite Stoves, to Tents and Bear Bags!</p>
            <a class="btn btn-secondary btn-lg" href="/products" role="button">Start Shopping &#8594;</a>
        </div>
    </div>
    <div class="container adStyle">
        <div class="grayBackground">
            <h2><b>Announcements:</b> Welcome to our new site!</h2>
            <h3><b>Free Shipping</b> on orders over $100! Limited time only!</h3>
            <h5>Our full inventory is now avalible online!</h5>
            <h5><i>Please</i> email us <a class="email" href="/contact"><b>here</b></a> if you have any problems.</h5>
        </div>
    </div>
    <div class="container adStyle">
        <div class="grayBackground">
            <h3>Trending Products:</h3>
            <h6>See what other customers are looking at!</h6>
        </div>
        <div class="recomendations">
            <div class="row">
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpege" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container adStyle">
        <div class="grayBackground">
            <h3>Products On Sale:</h3>
            <h6>Sales are a limited time only!</h6>
        </div>
        <div class="recomendations">
            <div class="row">
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container adStyle">
        <div class="grayBackground">
            <h3>Recommended For You:</h3>
            <h6>Mabye these items will interest you!</h6>
        </div>
        <div class="recomendations">
            <div class="row">
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
                <div class="col-xs">
                    <a href="/item_page">
                        <img class="iconStyle" src="../static/store/pics/no_image_available.jpeg" alt="No Image">
                    </a>
                    <a class="productLink" href="/item_page">Some Product</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="fullOnTablet">
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <h6 class="row">Jim's Store Is On Social Media!</h6>
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/yelp.png" alt="icon"> Yelp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/facebook.png" alt="icon"> Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/twitter.png" alt="icon"> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/instagram.png" alt="icon"> Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/linkedin.png" alt="icon"> LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="google.com"><img src="../static/store/pics/pinterest.png" alt="icon"> Pinterest</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>